body {
    text-align: center;
    font-family: Arial;
    background: #f2f2f2;
}

.board {
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    font-size: 40px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.cell:hover {
    background: #ddd;
}

.reset {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}